<ion-view>
  <ion-nav-title>
      {{ currentview }}
  </ion-nav-title>
  <ion-content>
    <h1>{{currentview}}</h1>
  </ion-content>
  <ion-footer-bar align-title="left" keyboard-attach class="bar-stable">
    <span>
      <label class="item item-input" style="width:100%">
        <span class="input-label">Message</span>
        <input type="text">
      </label>
    </span>
    <!--<div class="buttons" ng-click="doSomething()">
      <button class="button">Right Button</button>
    </div>-->
  </ion-footer-bar>
</ion-view>
